<ul>
  <% if current_user %>
    <li><%= link_to 'Profile', user_path(current_user) %></li>
    <li><%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo: false } %></li>
  <% end %>
</ul>